@use 'App';

.custom-btn {
  cursor: pointer;
  border-radius: 50px;
  background-color: App.$frst_main_color;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.4s;

  .custom-btn_children {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background-color: App.$third_main_color;
  }
}
