@use 'App';

header {
  width: 100%;
  height: 10vh;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  overflow: hidden;
  font-size: clamp(16px, 1vw + 2px, 30px);

  .header-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-content_logo-block {
      display: flex;
      align-items: center;
      width: 20%;

      p {
        color: #73672f;
        font-size: 1.2em;
        line-height: 1.5;
        font-weight: 600;
        font-family: "Edu NSW ACT Cursive", cursive;
      }

      .logo {
        width: 22%;
        min-width: 60px;
      }
    }

    a {
      font-size: 1.3em;
      font-weight: 600;
      color: App.$frst_main_color;
      transition: all 0.4s;
      user-select: none;

      &:hover {
        color: App.$secnd_main_color;
      }
    }

    .header-content_block-with-actions {
      width: 12%;
      min-width: 130px;
      max-width: 340px;
      display: flex;
      align-items: center;
      gap: 1em;

      svg,
      a {
        width: 12%;
      }

      svg {
        cursor: pointer;
        path {
          fill: #73672f;
        }
      }

      a {
        display: flex;
        align-items: center;
        svg {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 944px) {
  header {
    .header-content {
      .header-content_logo-block {
        p {
          font-size: 1.15em;
        }
      }

      a {
        font-size: 1.2em;
      }

      .header-content_block-with-actions {
        gap: 0;
        justify-content: space-between;

        svg,
        a {
          width: 17%;
        }
      }
    }
  }
}

@media (max-width: 670px) {
  header {
    .header-content {
      .header-content_logo-block {
        p {
          font-size: inherit;
        }
      }

      .header-content_open-menu-burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 12%;
        height: 80%;
        cursor: pointer;

        span {
          display: block;
          width: 100%;
          height: 2px;
          background-color: black;
        }
      }

      .header-content-menu-burger {
        position: absolute;
        top: 30px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: auto;
        padding: 20px;
      }
    }
  }
}
