@use "App";

.list-all-goods {
  width: 100%;
  margin: 0 auto;
  font-size: clamp(16px, 1vw + 3px, 32px);

  .list-all-goods_quality-of-ourTea {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    img {
      width: 40%;
      border-radius: 20px;
    }

    .quality-of-ourTea_text-part {
      width: 45%;
      height: auto;

      h2 {
        font-size: 32px;
        font-weight: 600;
        color: App.$secnd_main_color;
        margin-bottom: 25px;
      }

      p {
        font-size: 24px;
        line-height: 36px;
        color: App.$secnd_main_color;
        span {
          color: App.$third_main_color;
          font-family: App.$font_family_company_name;
          font-weight: 600;
        }
      }
    }
  }

  .productList {
    width: 80%;
    margin: 250px auto 90px auto;

    @media (max-width: 926px) {
      width: 90%;
    }
  }
}
