@use "App";

.menu-burger {
  margin: 0 auto;
  width: 90%;
  z-index: 1000;

  .menu-burger_content-menu-burger {
    position: fixed;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-height: 111px;
    gap: 15px;
    border-radius: 20px;
    padding: 30px 0;
    background-color: App.$frst_main_color;

    .content-menu-burger_navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: 85%;
      
      a {
        font-size: 1.2em;
        color: white;
        transition: all 0.4s;
        user-select: none;
      }
    }

    .content-menu-burger_block-with-actions {
      width: 15%;
      min-width: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        width: 20%;
        aspect-ratio: 1/1;
        cursor: pointer;
        path {
          fill: #D8CA8F;
          transition: all 0.4s;
        }

        &:hover {
          svg {
            path {
              fill: App.$third_main_color;
            }
          }
        }
      }
    }

    @media (max-width: 558px) {
      .content-menu-burger_navigation {
        flex-direction: column;
        gap: 0;
        a {
          line-height: 1.5;
        }
      }
    }
  }
}
