@use "App";

.productList {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  align-items: stretch;
  width: 100%;
  gap: 50px;

  li {
    background-color: rgba(115, 103, 47, 30%);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: App.$secnd_main_color;
    gap: 10px;

    .productList_prodPhoto {
      width: 54%;
      position: relative;
      filter: drop-shadow(-15px 7px 10px rgba(92, 92, 92, 50%));
    }

    .productList_productData {
      text-align: center;
      width: 90%;

      .productData_name-prod {
        font-size: 1.14em;
        font-weight: 600;
        margin-bottom: 0.5em;
      }

      .productData_details {
        font-size: 0.8em;
        line-height: 1.5;
        margin: 10px 0;
      }

      .productList_price-block {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .productList_price-block {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .price-block_price {
        font-size: 1em;
        font-weight: 600;
      }

      .custom-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s;
        position: relative;
        width: clamp(40px, 3vw, 55px);
        aspect-ratio: 1/1;
        border-radius: 50%;
        img {
          width: 40%;
          filter: invert(1);
        }

        &.completionOfFunction {
          animation: animationForCustomBtn 0.4s;
        }
      }

      @keyframes animationForCustomBtn {
        0% {
          transform: scale(1);
        }

        50% {
          transform: scale(0.5);
        }

        100% {
          transform: scale(1);
        }
      }
    }
  }

  @media (max-width: 1570px) {
    li {
      .productList_prodPhoto {
        width: 48%;
      }
    }
  }

  @media (max-width: 700px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: none;
    gap: 30px;
    margin: 0 auto;

    li {
      width: 90%;
      max-height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 10px;
      margin: 0 auto;

      .productList_prodPhoto {
        width: 25%;
        margin: 0;
      }

      .productList_productData {
        text-align: left;
        width: 70%;
        display: flex;
        flex-direction: column;

        .productData_name-prod {
          margin-bottom: 5px;
        }

        p {
          margin: 0;
        }

        .productData_price-block {
          margin-top: auto;
          width: 70%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0;

          .price-block_price {
            font-size: 1em;
            font-weight: 600;
            margin: 0;
          }

          .custom-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s;
            position: relative;
            width: clamp(30px, 4vw, 45px);
            aspect-ratio: 1/1;
            border-radius: 50%;
            img {
              width: 40%;
              filter: invert(1);
            }

            &.completionOfFunction {
              animation: animationForCustomBtn 0.4s;
            }
          }

          @keyframes animationForCustomBtn {
            0% {
              transform: scale(1);
            }

            50% {
              transform: scale(0.5);
            }

            100% {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    li {
      width: 100%;
    }
  }
}
