@use "App";

.productList {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  align-items: stretch;
  width: 100%;
  gap: 50px;

  .productList-card_product-map {
    background-color: rgba(115, 103, 47, 30%);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: App.$secnd_main_color;
    gap: 10px;

    .product-map_prodPhoto {
      width: 54%;
      position: relative;
      filter: drop-shadow(-15px 7px 10px rgba(92, 92, 92, 50%));
    }

    .product-map_productData {
      text-align: center;
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;

      .productData_name-prod {
        font-size: 1.14em;
        font-weight: 600;
        margin-bottom: 0.5em;
      }

      .productData_details {
        font-size: 1em;
        line-height: 1.5;
        margin: 10px 0;
      }

      .productData_price-block {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price-block_price {
          font-size: 1em;
          font-weight: 600;
        }

        .custom-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.4s;
          position: relative;
          width: clamp(30px, 4vw, 45px);
          aspect-ratio: 1/1;
          border-radius: 50%;
          img {
            width: 40%;
            filter: invert(1);
          }

          &.completionOfFunction {
            animation: animationForCustomBtn 0.4s;
          }
        }

        @keyframes animationForCustomBtn {
          0% {
            transform: scale(1);
          }

          50% {
            transform: scale(0.5);
          }

          100% {
            transform: scale(1);
          }
        }
      }
    }
  }

  @media (max-width: 1570px) {
    .productList-card_product-map {
      .product-map_prodPhoto {
        width: 48%;
      }
    }
  }

  @media (max-width: 700px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: none;
    gap: 30px;

    .productList-card_product-map {
      width: 90%;
      max-height: 180px;
      min-height: 174px !important;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 auto;

      .product-map_prodPhoto {
        width: 25%;
        margin: 0;
      }

      .product-map_productData {
        text-align: left;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        gap: 0.5em;

        .productData_name-prod {
          margin-bottom: 5px;
          width: 100%;
        }

        .productData_details {
          margin: 0;
          width: 100%;
        }

        .productData_price-block {
          margin-top: auto;
          width: 70%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;

          .price-block_price {
            font-size: 1em;
            font-weight: 600;
            margin: 0;
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    .productList-card_product-map {
      width: 100%;
      font-size: 15px;
    }
  }

  @media (max-width: 400px) {
    .productList-card_product-map {
      padding: 15px;
      flex-direction: column;
      max-height: none;
      align-items: center;
      margin: 0 auto;
      width: 75%;

      .product-map_productData {
        gap: 0.3em;
        font-size: 14px;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 80%;

        .productData_price-block {
          width: 75%;
        }
      }

      .product-map_prodPhoto {
        width: 45%;
      }
    }
  }
}
